.footer {
    background-color: #e9ecef;

    &__items {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        color: #444;

        &:hover {
            color: #1e1e1e;
        }
    }

    &__link, &__title {
        font-family: 'Dosis-Regular';
    }

    .back-to-top {
        position: relative;
        margin-left: rem-calc(24);

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .fa-circle {
            text-shadow: 0 2px 10px rgba(0, 0, 0, .2);
            font-size: rem-calc(40);
        }

        .fa-arrow-up {
            font-size: rem-calc(21);
            color: #212529;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .content-asset {
        font-size: rem-calc(13);
    }
}
