.page-banner {
    height: 25vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;

    &__title {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        padding: rem-calc(15 30 15 0);
        font-family: 'Dosis-Regular';
        font-size: rem-calc(48);
        color: $white;
        background-color: $blue;

        &::before {
            content: '';
            display: block;
            width: calc((100vw - #{map-get($container-max-widths, xl)}) / 2);
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color: $white;
        clip-path: polygon(10% 100%, 100% 0, 100% 100%);
    }
}